<section id="about" class="about-section">
<div class="about-container container">
<div class="about-text">
<h1 class="about-title">About Us</h1>
<p class="about-paragraf-first">
 The store "Vyshyvanka Vibes" is a place where traditional
 Ukrainian vyshyvanka comes to life with new zest and 
 style. Our store offers a wide selection of high-quality
 and authentic embroidery, which combines the elegance 
 of traditional needlework and modern design.
</p>
<p class="about-paragraf-second">
In "Vyshyvanka Vibes" you will find various models of 
embroidery, from classic to modern, corresponding to 
the latest fashion trends. Our embroidery is made using 
natural fabrics and is embroidered by highly qualified 
craftsmen who convey the beauty of Ukrainian culture in 
every detail.We believe that vyshyvanka is not just 
clothing, but a symbol of national pride, the heritage of 
our ancestors and a way of expressing one's individuality. 
Each embroidery from "Vyshyvanka Vibes" has its own 
unique history and symbolism, which gives it a special 
meaning.
</p>
</div>
<picture class="about-img">

    <source media="(min-width: 1440px)" srcset="./images/about-us-desktop-1440.webp 1x, ./images/about-us-desktop-1440@2x.webp 2x"
        type="image/webp" />

    <source media="(min-width: 1280px)" srcset="./images/about-us-desktop-1280.webp 1x, ./images/about-us-desktop-1280@2x.webp 2x"
        type="image/webp" />
 
    <source media="(min-width: 768px)" srcset="./images/about-us-tablet.webp 1x, ./images/about-us-tablet@2x.webp 2x"
        type="image/webp" />

    <source media="(max-width: 767px)" srcset="./images/about-us-mobil.webp 1x, ./images/about-us-mobil@2x.webp 2x"
        type="image/webp" />

    <img class="about-picture-img" src="./images/about-us-mobil.webp "  width="335" height="499" alt="About-img" loading="lazy" />
</picture>
</div>
</section>
