<section class="page-collection" id="collection">
  <div class="container page-collection-container">
    <h2 class="collection-title">Our collection</h2>
    <ul class="collection-menu">
      <li class="collection-item">
        <picture class="collection-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection-01-desktop-1440@2x.webp 2x,
              ./images/collection-01-desktop-1440.webp    1x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/collection-01-desktop-1280@2x.webp 2x,
              ./images/collection-01-desktop-1280.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection-01-tablet@2x.webp 2x,
              ./images/collection-01-tablet.webp    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/collection-01-mobil@2x.webp 2x"
          />
          <img
            src="./images/collection-01-mobil.webp"
            alt="foto August Poltava women's blouseRING"
            class="collection-img"
          />
        </picture>
        <div class="collection-name">
          <h3 class="collection-shirt-name">
            August Poltava women's blouseRING
          </h3>
          <p class="price">3300<span class="price-span"> uah</span></p>
        </div>
      </li>

      <li class="collection-item">
        <picture class="collection-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection-02-desktop-1440@2x.webp 2x,
              ./images/collection-02-desktop-1440.webp    1x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/collection-02-desktop-1280@2x.webp 2x,
              ./images/collection-02-desktop-1280.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection-02-tablet@2x.webp 2x,
              ./images/collection-02-tablet.webp    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/collection-02-mobil@2x.webp 2x"
          />
          <img
            src="./images/collection-02-mobil.webp"
            alt="foto August Poltava women's blouseRING"
            class="collection-img"
          />
        </picture>

        <div class="collection-name">
          <h3 class="collection-shirt-name">Women's blouse Gorgany</h3>
          <p class="price">3350<span class="price-span"> uah</span></p>
        </div>
      </li>

      <li class="collection-item">
        <picture class="collection-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection-03-desktop-1440@2x.webp 2x,
              ./images/collection-03-desktop-1440.webp    1x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/collection-03-desktop-1280@2x.webp 2x,
              ./images/collection-03-desktop-1280.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection-03-tablet@2x.webp 2x,
              ./images/collection-03-tablet.webp    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/collection-03-mobil@2x.webp 2x"
          />
          <img
            src="./images/collection-03-mobil.webp"
            alt="foto August Poltava women's blouseRING"
            class="collection-img"
          />
        </picture>
        <div class="collection-name">
          <h3 class="collection-shirt-name">Women's blouse Crimea</h3>
          <p class="price">4000<span class="price-span"> uah</span></p>
        </div>
      </li>

      <li class="collection-item">
        <picture class="collection-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection-04-desktop-1440@2x.webp 2x,
              ./images/collection-04-desktop-1440.webp    1x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/collection-04-desktop-1280@2x.webp 2x,
              ./images/collection-04-desktop-1280.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection-04-tablet@2x.webp 2x,
              ./images/collection-04-tablet.webp    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/collection-04-mobil@2x.webp 2x"
          />
          <img
            src="./images/collection-04-mobil.webp"
            alt="foto August Poltava women's blouseRING"
            class="collection-img"
          />
        </picture>
        <div class="collection-name">
          <h3 class="collection-shirt-name">Men's shirt Verkhovina</h3>
          <p class="price">3100<span class="price-span"> uah</span></p>
        </div>
      </li>

      <li class="collection-item">
        <picture class="collection-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection-05-desktop-1440@2x.webp 2x,
              ./images/collection-03-desktop-1440.webp    1x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/collection-05-desktop-1280@2x.webp 2x,
              ./images/collection-05-desktop-1280.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection-05-tablet@2x.webp 2x,
              ./images/collection-05-tablet.webp    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/collection-05-mobil@2x.webp 2x"
          />
          <img
            src="./images/collection-05-mobil.webp"
            alt="foto August Poltava women's blouseRING"
            class="collection-img"
          />
        </picture>
        <div class="collection-name">
          <h3 class="collection-shirt-name">Mountain men's shirt</h3>
          <p class="price">3300<span class="price-span"> uah</span></p>
        </div>
      </li>

      <li class="collection-item">
        <picture class="collection-img">
          <source
            media="(min-width: 1440px)"
            srcset="
              ./images/collection-06-desktop-1440@2x.webp 2x,
              ./images/collection-06-desktop-1440.webp    1x
            "
          />
          <source
            media="(min-width: 1280px)"
            srcset="
              ./images/collection-06-desktop-1280@2x.webp 2x,
              ./images/collection-06-desktop-1280.webp    1x
            "
          />
          <source
            media="(min-width: 768px)"
            srcset="
              ./images/collection-06-tablet@2x.webp 2x,
              ./images/collection-06-tablet.webp    1x
            "
          />
          <source
            media="(min-width: 320px)"
            srcset="./images/collection-06-mobil@2x.webp 2x"
          />
          <img
            src="./images/collection-06-mobil.webp"
            alt="foto August Poltava women's blouseRING"
            class="collection-img"
          />
        </picture>
        <div class="collection-name">
          <h3 class="collection-shirt-name">Men's shirt Yasen</h3>
          <p class="price">1700<span class="price-span"> uah</span></p>
        </div>
      </li>
    </ul>
  </div>
</section>
