<!-- Footer -->
<footer class="footer-section">
  <div class="container">
    <ul class="footer-list">
      <div class="footer-list-second-container">
        <li class="footer-link"><a href="#">About us</a></li>
        <li class="footer-link"><a href="#">Our collection</a></li>
      </div>
      <div class="footer-list-second-container">
        <li class="footer-link"><a href="#">Customer order</a></li>
        <li class="footer-link"><a href="#"></a>Testimonials</li>
      </div>
    </ul>
    <h2 class="footer-title">
      A touch of <span class="main-word-footer">Ukrainian</span> culture in
      every embroidery
    </h2>
  </div>
</footer>
