<div class="menu-container is-open" data-menu>
  <div class="menu">
    <button class="cross-button" type="button" data-menu-close>
      <svg class="cross-svg" width="36" height="36">
        <use href="../images/sprite.svg#icon-cross"></use>
      </svg>
    </button>
    <nav class="nav-link">
      <ul class="list-link">
        <li class="list-item">
          <a href="#about" class="link-nav">About us</a>
        </li>
        <li class="list-item">
          <a href="#collection" class="link-nav">Our collection</a>
        </li>
        <li class="list-item">
          <a href="#order" class="link-nav">Customer Order</a>
        </li>
        <li class="list-item">
          <a href="#testimonials" class="link-nav">Testimonials</a>
        </li>
      </ul>
    </nav>
    <address class="header-nav-list-item">
      <a class="contact-number" href="tel:+380684439426">+380 (68) 443-94-26</a>
    </address>
  </div>
</div>
