<section class="section order_section">
    <div class="container bg_image_container">
<h3 class="bg_image_title visually-hidden">Woman photo</h3>
    </div>
    <div class="container order_container">
        <h2 class="section_title"><span class="section_title_span">Your order</span> is our priority: Personalized approach and quality of service</h2>
        <form class="form_order">
            <div class="form_input_container">
                <input class="form_input" type="text" pattern="" placeholder="Enter your full name">
            </div>
            <div class="form_input_container">
                <input class="form_input" type="email" pattern="" placeholder="Enter your email">
            </div>
            <div class="form_input_container_textarea">
                <textarea class="form_textarea" rows="10" placeholder="Comments"></textarea>
            </div>
            <button class="order_button" type="submit">send
                <svg class="order_button_icon" width="26" height="16">
                    <use href="../images/sprite.svg#icon-arrow"></use>
                  </svg>
            </button>
        </form>
    </div>
</section>
