<section class="testimonials-section container">
  <div class="testimonials-wrapper">
    <h2 class="testimonials-title">Testimonials</h2>
    <ul class="testimonials-list">
      <li class="testimonials-list-item">
        <picture class="testimonials-item-img">
          <source
            srcset="./images/review-1.webp 1x, ./images/review-1@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="testimonials-picture-img"
            src="./images/review-1.webp"
            alt="Reviewer photo"
            width="64"
            height="64"
            loading="lazy"
          />
        </picture>
        <div class="testimonials-list-item-content">
          <h3 class="testimonials-item-title">Maria Tkachuk</h3>
          <p class="testimonials-item-text">
            I was pleasantly surprised by the variety of embroidery offered by
            Vyshyvanka Vibes. They have models for every taste - from classic to
            modern. I bought an embroidered dress to celebrate a special
            occasion and received impeccable service and refinement in every
            detail.
          </p>
        </div>
      </li>
      <li class="testimonials-list-item testimonials-list-item-1-hidden">
        <picture class="testimonials-item-img">
          <source
            srcset="./images/review-2.webp 1x, ./images/review-2@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="testimonials-picture-img"
            src="./images/review-2.webp"
            alt="Reviewer photo"
            width="64"
            height="64"
            loading="lazy"
          />
        </picture>
        <div class="testimonials-list-item-content">
          <h3 class="testimonials-item-title">Sergey Rybachok</h3>
          <p class="testimonials-item-text">
            Vyshyvanka Vibes exceeds all my expectations! Their vyshyvanka are
            simply masterpieces! I fell in love with the quality of the
            materials and the skill of the artisans behind each product. This is
            my favorite embroidery shop where I always find something special
            and unique.
          </p>
        </div>
      </li>
      <li class="testimonials-list-item testimonials-list-item-2-hidden">
        <picture class="testimonials-item-img">
          <source
            srcset="./images/review-3.webp 1x, ./images/review-3@2x.webp 2x"
            type="image/webp"
          />
          <img
            class="testimonials-picture-img"
            src="./images/review-3.webp"
            alt="Reviewer photo"
            width="64"
            height="64"
            loading="lazy"
          />
        </picture>
        <div class="testimonials-list-item-content">
          <h3 class="testimonials-item-title">Natalia Chatuk</h3>
          <p class="testimonials-item-text">
            Vyshyvanka Vibes is a real find for everyone who appreciates
            Ukrainian culture. Their embroidery reflects the spirit and
            traditions of our people. I not only buy embroidered shirts for
            myself, but also give them to my friends abroad as a symbol of our
            beauty and national pride.
          </p>
        </div>
      </li>
    </ul>
  </div>
</section>
