@media screen and (min-width: 375px) {
    .container {
        width: 335px;
    }

    @media screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
            .about-container {
                background-image: url("../images/about-mobile-bg.png");
            }
        }
}

.about-container{
    padding-top: 2px;
    padding-bottom: 60px;
    background: url("../images/about-mobile-bg.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.about-text{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.about-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
    margin-bottom: 40px;
}

.about-paragraf-first {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.017em;
    margin-bottom: 20px;
    color: #FCF9F966;
}

.about-paragraf-second {
    font-size: 14px;
    font-weight: 400;
    letter-spacing: -0.017em;
    margin-bottom: 50px;
    color: #FCF9F966;
}

.about-picture-img {
    border-radius: 4px;
}

    /* Tablet 768px  */
@media screen and (min-width: 768px) {
.about-container {
    width: 704px;
    background-image: url("../images/elements-about-tablet-bg.png");
    background-size: 480px 545px
}

.about-title{
    font-size: 44px;
    line-height: 1.47;
    letter-spacing: -0.04em;
}

.about-paragraf-first{
    font-size: 16px;
    letter-spacing: -0.02em;
    margin-bottom: 20px;
}

.about-paragraf-second{
    font-size: 16px;
    letter-spacing: -0.02em;
    margin-bottom: 40px;
}

.about-picture-img{
    width: 704px;
    height: 545px;
}

    @media screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .about-container {
            background-image: url("../images/elements-about-tablet-bg@2x.png");
        }
    }
}


    /* DESKTOP 1280PX */
@media screen and (min-width: 1280px) {
.about-container {
    padding: 15px 100px 60px 100px;
    width: 1280px;
    background-image: url("../images/elements-about-bg-desktop1280.png");
    background-size: 400px 494px;
}

.about-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    width: 436px;
    padding: 46px 0;
    margin-right: 50px;
}

.about-title {
    margin-bottom: 40px;
}

.about-paragraf-first {
    margin-bottom: 20px;
}

.about-picture-img {
    width: 594px;
    height: 545px;
}
    @media 
    screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
        .about-container {
            background-image: url("../images/elements-about-bg-desktop1280@2x.png");
        }
    }
}



    /* Desktop 1440 */
@media screen and (min-width: 1440px) {

.about-container {
    width: 1440px;
    background-image: url("../images/elements-about-bg-desktop1440.png");
    background-size: 545px 484px;
}
  
.about-text {
    width: 481px;
    padding: 78px 0px;
}
    
.about-picture-img {
    width: 709px;
    height: 545px;
}

    @media screen and (min-resolution:192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
           .about-container {
               background-image: url("../images/elements-about-bg-desktop1440@2x.png");
           }
     }
} 
  

