/* mobile style collection */

@media screen and (min-width: 320px) {
    .container {
        width: 320px;
    }

    .page-collection {
        padding-left: 20px;
        padding-right: 20px;
        background-image: #ECD979, url(../images/elements-collection-mobil-bg.png)
    }

    .collection-title {
        text-align: center;
        margin-bottom: 40px;
        font-size: 32px;
        font-weight: 500;
        line-height: 1.38;
        letter-spacing: -0.03em;
        color: #FCF9F9;
    }

    .collection-menu {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
    }

    .collection-item {
        position: relative;
        overflow: hidden;
    }
        
    .collection-img {
        /* width: 335px;
        height: 400px; */
        border-radius: 4px;
        background: url(<path-to-image>), lightgray 50% / cover no-repeat;
    }

    .collection-name {
        padding-top: 18px;
        display: flex;
        width: 335px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
    }

    .collection-shirt-name {
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: 14px;
        font-weight: 500;
        line-height: 1;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #FCF9F9;
        }

    .price {
        font-size: 14px;
        font-weight: 400;
        line-height: 1;
        letter-spacing: 0.05em;
        color: rgba(252, 249, 249, 0.40);
    }

    .price-span {
        text-transform: uppercase;
    }

}

/* tablet style collection */

@media screen and (min-width:768px) {

    .container {
        width: 768px;
    }

    .page-collection {
        padding-left: 32px;
        padding-right: 32px;
        background-image: #ECD979, url(../images/elements-collection-tablet-bg.png)
    }

    .collection-title {
        text-align: center;
        font-size: 44px;
        font-weight: 500;
        line-height: 1.45;
        letter-spacing: -0.03em;
        }

    /* .collection-img {
        width: 342px;
        height: 430px;
    } */

    .collection-name{
        padding-top: 50px;
    }

    .collection-menu {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 20px;
        row-gap: 20px;
        max-width: 1279px;
    }

    .collection-item {
        width: calc((100% - 48px) / 2);
    }

    .collection-shirt-name {
        font-size: 18px;
    }

    .price {
        font-style: 18px;
    }

}

/* desktop 1280 style collection */

@media screen and (min-width:1280px) {
    .container {
        width: 1280px;
    }

    .page-collection {
        padding-left: 20px;
        padding-right: 20px;
        background-image: #ECD979, url(../images/elements-collection-bg-desktop1280.png)
    }
    
    
    






}