/* Footer-mobile */
.footer-section {
  padding-top: 40px;
  padding-bottom: 292px;
  border-top: 1px solid rgba(252, 249, 249, 0.1);
  background-image: url('../images/elements-footer-mobil-bg.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 50% 100%;
}

/* Изображение 2х для Footer-mobile */

@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-devide-pixel-ratio: 2) {
  .footer-section {
    background-image: url('../images/elements-footer-mobil-bg@2x.png');
  }
}

.footer-nav {
  display: flex;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-list {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.footer-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  text-transform: uppercase;
  transition: color var(--main-dur-func-transition);
}

.footer-link:hover,
.footer-link:focus {
  color: var(--elements-color);
}

.footer-title {
  font-size: 44px;
  font-weight: 400;
  line-height: 1.22;
  letter-spacing: -0.03em;
}

.main-word-footer {
  color: var(--elements-color);
}

/* TABLET STYLES */

@media screen and (min-width: 768px) {
  /* footer-tablet */
  .footer-section {
    padding-bottom: 40px;
    background-image: url('../images/elements-footer-tablet-bg.png');
    background-position: 100% 0;
  }

  /* Изображение 2х для Footer-tablet */

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devide-pixel-ratio: 2) {
    .footer-section {
      background-image: url('../images/elements-footer-tablet-bg@2x.png');
    }
  }

  .footer-nav {
    gap: 25px;
    margin-bottom: 80px;
  }

  .footer-list {
    flex-direction: row;
  }

  .footer-title {
    font-size: 54px;
    line-height: 1.18;
    max-width: 521px;
  }
}

/* DESKTOP STYLES */

/* desktop-1280 */
@media screen and (min-width: 1280px) {
  .footer-section {
    background-image: url('../images/elements-footer-bg-desktop1280.png');
  }

  /* Изображение 2х для Footer-desktop-1280 */

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devide-pixel-ratio: 2) {
    .footer-section {
      background-image: url('../images/elements-footer-bg-desktop1280@2x.png');
    }
  }

  .footer-nav {
    margin-bottom: 117px;
  }

  .footer-title {
    font-size: 64px;
    line-height: 1.15;
    max-width: 754px;
  }
}

/* desktop-1440 */

@media screen and (min-width: 1440px) {
  .footer-section {
    background-image: url('../images/elements-footer-bg-desktop1440.png');
  }

  /* Изображение 2х для Footer-desktop-1440 */

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devide-pixel-ratio: 2) {
    .footer-section {
      background-image: url('../images/elements-footer-bg-desktop1440@2x.png');
    }
  }
}
