/* частина навігації при зливці буде з'єднано стилями з модалкою і замінено */
.header-section {
  padding-top: 24px;
  padding-bottom: 24px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-nav {
  display: flex;
  align-items: center;
}

.header-logo-link {
  outline: transparent;
}

.header-nav-list {
  display: none;
}

.header-nav-link {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  text-transform: uppercase;
  color: #fcf9f9;
  transition: color var(--main-dur-func-transition);
}

.header-nav-link:hover,
.header-nav-link:focus {
  outline: transparent;
  color: var(--elements-color);
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 12px;
}

.header-contact-phone-link {
  display: none;
}

.header-contacts-icon-list {
  display: flex;
  gap: 12px;
}

.header-contacts-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  line-height: 0;
  transition: border-color var(--main-dur-func-transition),
    background-color var(--main-dur-func-transition);
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: rgba(252, 249, 249, 0.1);
}

.header-contacts-link:hover,
.header-contacts-link:focus {
  outline: transparent;
  outline-offset: 2px;
  background-color: transparent;
  border-color: var(--elements-color);
}

.header-soc-icon {
  opacity: 0.8;
  fill: #fcf9f9;
}

.header-menu-btn {
  background-color: transparent;
  line-height: 0;
  border: none;
  outline: none;
}

.header-menu-btn-icon {
  stroke: var(--elements-color);
}
/* ============END STRETCHING MOBILE========= */

/* ===========END MOBILE STYLES============ */

/* ============TABLET STYLES============== */

@media screen and (min-width: 768px) {
  .header-contacts {
    gap: 20px;
  }
}

/* ============END TABLET STYLES============== */

/* ============DESKTOP 1280 STYLES============= */

@media screen and (min-width: 1280px) {
  .header-logo-link {
    margin-right: 60px;
  }

  .header-nav-list {
    display: flex;
    align-items: center;
    gap: 25px;
  }

  .header-contact-phone {
    font-style: normal;
  }

  .header-contact-phone-link {
    display: block;
    padding: 14px 28px;
    color: #fcf9f9;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.42;
    text-transform: uppercase;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border-color var(--main-dur-func-transition);
  }

  .header-contact-phone-link:hover,
  .header-contact-phone-link:focus {
    outline: transparent;
    outline-offset: 2px;
    border-color: var(--elements-color);
  }

  .header-menu-btn {
    display: none;
  }
}
/* ============END DESKTOP 1280 STYLES============= */
