
*,*:before,*:after {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box
}

h1,p {
    margin: 0;
    font-weight: inherit;
    font-size: inherit
}


ul,ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0
}

a {
    color: currentColor;
    text-decoration: none;
    cursor: pointer
}

button {
    font: inherit
}

.list {
    list-style: none
}

.link {
    text-decoration: none
}

button {
    cursor: pointer
}

img {
    display: block;
  }
  

html,body {
    font-family: Manrope,sans-serif;
    font-size: 16px;
    background-color: #1c2225;
    color: #fcf9f9;
    scroll-behavior: smooth
}
.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  .container {
    padding-left: 16px;
    padding-right: 16px;
  }
  

/* ===HERO=== */
    
  
@media screen and (min-width: 768px) {
    .container {
        max-width:768px;
        padding-left: 32px;
        padding-right: 32px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width:1280px;
        padding-left: 15px;
        padding-right: 15px
    }
}


.hero-container {
    display: flex;
    flex-wrap: wrap
}

.hero-title {
    color: var(--white, #FCF9F9);
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -.03em;
    max-width: 335px;
    margin-bottom: 40px
}

.hero-span-ukrainian {
    color: var(--white, #ECD979);
    line-height: 54px;
    letter-spacing: -.03em
}

.hero-handmade {
    display: none
}

.hero-btn {
    color: var(--white, #FCF9F9);
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -.04em;
    text-transform: uppercase;
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252,249,249,.1);
    flex-shrink: 0;
    padding: 14px 36px;
    transition: border-color .25s cubic-bezier(.4,0,.2,1);
    margin-bottom: 40px;
    margin-left: 70px;
    max-width: 155px
}

.hero-btn:hover,.hero-btnn:focus {
    border-color: var(--yellow, #ECD979)
}

.hero-icon-btn {
    fill: var(--yellow, #ECD979)
}

.hero-img {
    border-radius: 4px
}

.hero-img-ukraine {
    display: none
}

@media screen and (min-width: 768px) {
    .container {
        max-width:768px
    }

    .hero {
        padding-top: 106px;
        padding-bottom: 100px
    }

    .hero-container {
        flex-direction: column;
        position: relative
    }

    .hero-title {
        font-size: 54px;
        line-height: 1.19;
        letter-spacing: -.03em;
        max-width: 549px
    }

    .hero-handmade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: -26px;
        right: 32px
    }

    .hero-handmade-svg {
        fill: var(--yellow, #ECD979)
    }

    .hero-handmade-text {
        color: #fcf9f966;
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -.04em;
        max-width: 115px
    }

    .hero-btn {
        font-size: 16px;
        letter-spacing: -.04em;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid rgba(252,249,249,.1);
        flex-shrink: 0;
        padding: 14px 39px;
        max-width: 168px;
        margin-left: 141px;
        transition: border-color .25s cubic-bezier(.4,0,.2,1)
    }

    .hero-img-ukraine {
        display: flex;
        border-radius: 50%/90% 90% 0 0;
        position: absolute;
        bottom: 0;
        right: 32px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width:1280px
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 150px
    }

    .hero-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: flex-end
    }

    .hero-header {
        display: block;
        padding-top: 94px;
        margin-left: 40px
    }

    .hero-title {
        width: 518px
    }

    .hero-handmade {
        top: 0;
        right: 15px
    }

    .hero-img-ukraine {
        right: 15px
    }

    .hero-img {
        width: 100%
    }
}

