/* ===HERO=== */
.hero-container {
  display: flex;
  flex-wrap: wrap;
}

.hero-title {
  font-size: 44px;
  line-height: 1.23;
  letter-spacing: -0.03em;
  max-width: 335px;
  margin-bottom: 40px;
}

.hero-span-ukrainian {
  line-height: 54px;
  letter-spacing: -0.03em;
  color: var(--elements-color);
}

.hero-handmade {
  display: none;
}

.hero-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.04em;
  text-transform: uppercase;
  height: 50px;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  flex-shrink: 0;
  padding: 14px 36px;
  margin-bottom: 40px;
  margin-left: 20px;
  max-width: 155px;
  transition: border-color var(--main-dur-func-transition);
}

.hero-btn:hover,
.hero-btnn:focus {
  border-color: var(--elements-color);
}

.hero-icon-btn {
  fill: var(--elements-color);
}

.hero-img {
  border-radius: 4px;
}

.hero-img-ukraine {
  display: none;
}

.hero-handmade-svg {
  fill: var(--elements-color);
}

@media screen and (min-width: 768px) {
  .hero {
    padding-top: 106px;
    padding-bottom: 100px;
  }

  .hero-container {
    flex-direction: column;
    position: relative;
  }

  .hero-title {
    font-size: 54px;
    line-height: 1.19;
    letter-spacing: -0.03em;
    max-width: 549px;
  }

  .hero-handmade {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 16px;
    position: absolute;
    top: -26px;
    right: 32px;
  }

  .hero-handmade-svg {
    fill: var(--elements-color);
  }

  .hero-handmade-text {
    text-align: center;
    font-size: 16px;
    letter-spacing: -0.04em;
    max-width: 115px;
    color: rgba(252, 249, 249, 0.4);
  }

  .hero-btn {
    font-size: 16px;
    letter-spacing: -0.04em;
    height: 50px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    flex-shrink: 0;
    padding: 14px 39px;
    max-width: 168px;
    margin-left: 141px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border-color var(--main-dur-func-transition);
  }

  .hero-img-ukraine {
    display: flex;
    border-radius: 50%/90% 90% 0 0;
    position: absolute;
    bottom: 0;
    right: 32px;
  }
}

@media screen and (min-width: 1280px) {
  .hero {
    padding-top: 100px;
    padding-bottom: 150px;
  }

  .hero-container {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
  }

  .hero-header {
    display: block;
    padding-top: 94px;
    margin-left: 40px;
  }

  .hero-title {
    width: 518px;
  }

  .hero-handmade {
    top: 0;
    right: 15px;
  }

  .hero-img-ukraine {
    right: 15px;
  }

  .hero-img {
    width: 100%;
  }
}
