

@media screen and (min-width: 768px) {
    .hero {
    padding-top: 60px;
    padding-bottom: 80px
}

.hero-container {
    display: flex;
    flex-wrap: wrap
}

.hero-title {
    font-size: 44px;
    line-height: 1.23;
    letter-spacing: -0.03em;
    max-width: 335px;
    margin-bottom: 40px
}

.hero-span-ukrainian {
    line-height: 54px;
    letter-spacing: -0.03em
}

.hero-handmade {
    display: none
}

.hero-btn {
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
    letter-spacing: -0.04em;
    text-transform: uppercase;
    display: flex;
    height: 49px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 15px;
    border: 1px solid rgba(252,249,249,.1);
    flex-shrink: 0;
    padding: 14px 36px;
    transition: border-color .25s cubic-bezier(.4,0,.2,1);
    margin-bottom: 40px;
    margin-left: 70px;
    max-width: 155px
}


.hero-img {
    border-radius: 4px
}

.hero-img-ukraine {
    display: none
}
}

@media screen and (min-width: 768px) {
    .container {
        max-width:768px
    }

    .hero {
        padding-top: 106px;
        padding-bottom: 100px
    }

    .hero-container {
        flex-direction: column;
        position: relative
    }

    .hero-title {
        font-size: 54px;
        line-height: 1.19;
        letter-spacing: -0.03em;
        max-width: 549px
    }

    .hero-handmade {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 16px;
        position: absolute;
        top: -26px;
        right: 32px
    }

   
    .hero-handmade-text {
        text-align: center;
        font-size: 16px;
        line-height: normal;
        letter-spacing: -.04em;
        max-width: 115px
    }

    .hero-btn {
        font-size: 16px;
        letter-spacing: -.04em;
        height: 50px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        border-radius: 15px;
        border: 1px solid rgba(252,249,249,.1);
        flex-shrink: 0;
        padding: 14px 39px;
        max-width: 168px;
        margin-left: 141px;
        transition: border-color .25s cubic-bezier(.4,0,.2,1)
    }

    .hero-img-ukraine {
        display: flex;
        border-radius: 50%/90% 90% 0 0;
        position: absolute;
        bottom: 0;
        right: 32px
    }
}

@media screen and (min-width: 1280px) {
    .container {
        max-width:1280px
    }

    .hero {
        padding-top: 100px;
        padding-bottom: 150px
    }

    .hero-container {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        justify-content: flex-end
    }

    .hero-header {
        display: block;
        padding-top: 94px;
        margin-left: 40px
    }

    .hero-title {
        width: 518px
    }

    .hero-handmade {
        top: 0;
        right: 15px
    }

    .hero-img-ukraine {
        right: 15px
    }

    .hero-img {
        width: 100%
    }
}