@media screen and (max-width: 1280px) {
    .menu-backdrop {
        position: fixed;
        width: 100%;
        height: 100%;
        background-color: var(--elements-color);
        background-image: url("../images/burger-menu-mobil-bg.png");
        background-position: center bottom;
        background-repeat: no-repeat;
    }
    
    @media 
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2ddpx),
    screen and (min-device-pixel-ratio: 2) {
        .menu-backdrop {
            background-image: url("../images/burger-menu-mobil-bg@2x.png");
        }
    } 
    
    .menu {
        display: flex;
        flex-direction: column-reverse;
        padding: 20px;
    }
    
    .nav-link {
        align-self: flex-end;
        padding: 185px 0;
    }
    
    .cross-svg {
        position: absolute;
        top: 20px;
        right: 20px;
        fill: #1C2225;
        stroke: #1C2225;
    }
    
    .list-item {
        margin-bottom: 20px;
        text-align: right;
    }
    
    .link-nav {
        font-size: 14px;
        font-weight: 400;
        line-height: 1.29;
        text-transform: uppercase;
        color: #1C2225;
    }

    .contact-number {
        max-width: 160px;
        font-size: 12px;
        font-weight: 400;
        line-height: 1.17;
        padding: 12px 20px;
        border-radius: 15px;
        text-transform: uppercase;
        border: 1px solid rgba(28, 34, 37, 0.10); 
        color: #1C2225;
    }

}


@media screen and (min-width: 768px) and (max-width: 1280px) { 
    .menu-backdrop { 
        width: 380px;
        height: 1024px;
        right: 0;
        background-image: url("../images/burger-menu-tablet-bg.png");
    }

    @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2ddpx),
    screen and (min-device-pixel-ratio: 2) {
        .menu-backdrop { 
            background-image: url("../images/burger-menu-tablet-bg@2x.png");
        }
    }

    .contact-number {
        max-width: 195px;
        padding: 14px 28px;
        font-size: 14px;
        line-height: 1.43;
    }

    .nav-link {
        padding: 225px 0;
    }

    .list-item {
        margin-bottom: 25px;
    }
}