/* mobile styles */
.container {
  min-width: 320px;
  max-width: 375px;
  margin-left: auto;
  margin-right: auto;
}

.order_section {
  padding-top: 670px;
  background-image: url(../images/order-background-mobil.webp);
  background-position: top 40px center;
  background-repeat: no-repeat;
  background-size: 375px 550px;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-retio: 2) and (max-width: 767px) {
  .order_section {
    background-image: url(../images/order-background-mobil@2x.webp);
  }
}

.order_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section_title {
  color: var(--white, #fcf9f9);
  font-family: 'Manrope', sans-serif;
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.37;
  letter-spacing: -0.03em;
  margin-bottom: 40px;
}

.section_title_span {
  color: var(--white, #ecd979);
}

.form_order {
  display: flex;
  flex-direction: column;
}

.form_input {
  max-width: 335px;
  height: 47px;
  padding: 14px 16px;
  margin-bottom: 20px;
  align-items: flex-start;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  outline: transparent;
}

.form_textarea {
  max-width: 100%;
  height: 100%;
  display: flex;
  padding: 14px 16px;
  margin-bottom: 40px;
  align-items: flex-start;
  align-self: stretch;
  border-radius: 8px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background-color: transparent;
  outline: transparent;
  resize: none;
}

.form_input,
.form_textarea {
  color: rgba(252, 249, 249, 0.5);
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -0.02em;
}

.order_button {
  display: flex;
  width: 145px;
  height: 49px;
  padding: 14px 36px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  margin-left: auto;
  margin-right: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  background-color: transparent;
  color: var(--white, #fcf9f9);
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: -0.04em;
  text-transform: uppercase;
}

.order_button_icon {
  fill: #ecd979;
}

.order_button:hover,
.order_button:focus {
  border-color: #ecd979;
}

.order_button_icon:hover {
  transform: rotate(-30deg);
}

.form_input:hover,
.form_input:focus,
.form_textarea:hover,
.form_textarea:focus {
  border-color: #ecd979;
}

.image_picture_order {
  display: none;
}
/* /mobile styles */

@media screen and (min-width: 768px) {
  .order_section {
    padding-top: 926px;
    background-image: url(../images/order-background-tablet.webp);
    background-position: top 50px center;
    background-size: 768px 776px;
    background-repeat: no-repeat;
  }

  .order_container {
    background-image: url(../images/elements-order-tablet-bg.png);
    background-position: bottom left;
    background-size: 320px 484px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 768px),
  screen and (min-resolution: 2dppx) and (min-width: 768px),
  screen and (min-device-pixel-retio: 2) and (min-width: 768px) {
  .order_section {
    background-image: url(../images/order-background-tablet@2x.webp);
  }

  .order_container {
    background-image: url(../images/elements-order-tablet-bg@2x.png);
  }
}

@media screen and (min-width: 1280px) {
  .order_section {
    padding-top: 1001px;
    background-image: url(../images/order-background-desktop-1280.webp);
    background-position: top 50px center;
    background-repeat: no-repeat;
    background-size: 1282px 776px;
  }

  .order_container {
    background-image: url(../images/elements-order-bg-desktop1280.png);
    background-position: bottom left;
    background-size: 290px 484px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1280px),
  screen and (min-resolution: 2dppx) and (min-width: 1280px),
  screen and (min-device-pixel-retio: 2) and (min-width: 1280px) {
  .order_section {
    background-image: url(../images/order-background-desktop-1280@2x.webp);
  }

  .order_container {
    background-image: url(../images/elements-order-bg-desktop1280@2x.png);
  }
}

@media screen and (min-width: 1440px) {
  .order_section {
    padding-top: 1001px;
    background-image: url(../images/order-background-desktop-1440.webp);
    background-position: top 50px center;
    background-repeat: no-repeat;
    background-size: 1440px 776px;
  }

  .order_container {
    background-image: url(../images/elements-order-bg-desktop1440.png);
    background-position: left bottom;
    background-size: 325px 484px;
    background-repeat: no-repeat;
  }
}

@media screen and (min-resolution: 192dpi) and (min-width: 1440px),
  screen and (min-resolution: 2dppx) and (min-width: 1440px),
  screen and (min-device-pixel-retio: 2) and (min-width: 1440px) {
  .order_section {
    background-image: url(../images/order-background-desktop-1440@2x.webp);
  }

  .order_container {
    background-image: url(../images/elements-order-bg-desktop1440@2x.png);
  }
}

/* Tablet styles */

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .form_order {
    margin-bottom: 100px;
  }
}

@media screen and (min-width: 768px) {
  .container {
    padding: 0 32px;
    max-width: 768px;
  }

  .order_section {
    margin-bottom: 50px;
  }

  .section_title {
    width: 542px;
    font-size: 44px;
    line-height: 1.32;
    letter-spacing: -0.03em;
  }

  .form_order {
    width: 508px;
  }

  .form_input {
    max-width: 508px;
    height: 50px;
  }

  .order_image_item {
    border-radius: 4px;
    background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  }

  .image_picture_order {
    display: flex;
  }

  .order_button {
    width: 168px;
    height: auto;
    margin-left: 0;
    font-size: 16px;
    letter-spacing: -0.04em;
  }

  .picture_order {
    padding-bottom: 79px;
    margin-left: 66px;
  }
}
/* /Tablet styles */

/* Desctop styles 1280 */
@media screen and (min-width: 1280px) {
  .container {
    padding: 0 64px;
    max-width: 1280px;
  }

  .order_section {
    margin-bottom: 75px;
  }

  .order_container {
    flex-direction: row-reverse;
    justify-content: center;
    gap: 50px;
  }

  .picture_order {
    margin-left: 28px;
  }
}
/* /Desctop styles 1280 */

/* Desctop styles 1440 */
@media screen and (min-width: 1440px) {
  .container {
    padding: 0 100px;
    max-width: 1440px;
  }

  .order_section {
    margin-bottom: 75px;
  }

  .section_title {
    width: 666px;
  }
}
/* /Desctop styles 1440 */
