@import url('./reset.css');
@import url('./main.css');
@import url('./header.css');
@import url('./modal.css');
@import url('./hero.css');
@import url('./about.css');
@import url('./collection.css');
@import url('./order.css');
@import url('./testimonials.css');
@import url('./footer.css');

:root {
  font-family: 'Manrope', sans-serif;
  --main-dur-func-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: #fcf9f9;
  background-color: #1c2225;
  --elements-color: #ecd979;
}
