.testimonials-wrapper {
    padding: 80px 0;
    margin: 0 auto;
}

.testimonials-title {
    font-size: 32px;
    font-weight: 500;
    line-height: 1.38;
    letter-spacing: -0.03em;
    margin-bottom: 64px;
}

.testimonials-list-item {
    position: relative;
    border-radius: 4px;
    border: 1px solid rgba(252, 249, 249, 0.10);
}


.testimonials-list-item-content {
    padding: 54px 22px 18px 22px;
}

.testimonials-item-title {
    text-align: center;
    font-size: 20px;
    line-height: 1.5;
    margin-bottom: 8px;
}

.testimonials-item-text {
    text-align: center;
    font-size: 14px;
    line-height: normal;
    color: rgba(252, 249, 249, 0.40);
}

.testimonials-item-img {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
}

.testimonials-picture-img {
    width: 100%;
}

/* MOBILE HIDDEN REVIEW  */
@media screen and (max-width:768px) {
    .testimonials-list-item-1-hidden,
    .testimonials-list-item-2-hidden {
        display: none;
    }
}

@media screen and (min-width:375px) and (max-width: 767px) {
    .testimonials-wrapper {
        width: 335px;
    }
}


/* TABLET */

@media screen and (min-width: 768px) and (max-width: 1280px) {

    /* TABLET HIDDEN REVIEW  */
    .testimonials-list-item-2-hidden {
        display: none;
    }
}

@media screen and (min-width: 768px) {
    .testimonials-wrapper {
        width: 704px;
        padding: 100px 0;

        /* потрібно дописати медіа запити в main на 
        container > padding: left+right  під кожен пристрій */
    }

    .testimonials-list-item-content {
        padding: 54px 18px 18px;
    }

    .testimonials-list-item {
        min-width: 336px;
    }

    .testimonials-title {
        font-size: 44px;
        line-height: 1.45;
    }

    .testimonials-list {
        display: flex;
        flex-direction: row;
        gap: 32px;
        justify-content: center;
    }

    .testimonials-list-item {
        width: 336px;
    }
}


/* DESKTOP 1280 */

@media screen and (min-width: 1280px) {
    .testimonials-wrapper {
        width: 1080px;
        padding: 150px 0;

        /* потрібно дописати медіа запити в main на 
        container > padding: left+right  під кожен пристрій */
    }

    .testimonials-item-text {
        font-size: 16px;
    }

    .testimonials-list {
        gap: 26px;
    }

    .testimonials-list-item {
        width: 343px;
    }
}

/* DESKTOP 1440 */
@media screen and (min-width: 1440px) {
    .testimonials-wrapper {
        width: 1240px;
    }

    .testimonials-list-item {
        width: 396px;
    }
}